@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

:root {
	--body-width: calc(100svw - 4rem);
	--body-height: calc(100svh - 8rem);
}

* {
	font-family: Inter, sans-serif;
}

.nuxt-icon svg {
	margin-bottom: 0 !important;
}

.logo-text {
	font-family: 'Zalando Sans Expanded', sans-serif;
}
