@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@theme {
	--shadow-right-md: 4px 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
		2px 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
}

:root {
	--body-width: calc(100% - 4rem);
	--body-height: calc(100svh - 8rem);
	--aside-height: calc(100svh - 4rem);

	--p-primary: var(--color-indigo-500);
	--p-progressspinner-color-one: var(--p-primary);
	--p-progressspinner-color-two: var(--p-primary);
	--p-progressspinner-color-three: var(--p-primary);
	--p-progressspinner-color-four: var(--p-primary);
}

* {
	font-family: Inter, sans-serif;
}

html {
	scrollbar-width: thin;
}

.nuxt-icon svg {
	margin-bottom: 0 !important;
}

.logo-text {
	font-family: 'Zalando Sans Expanded', sans-serif;
}

.p-overlaybadge .p-badge {
	transform: translate(25%, -25%);
}
